body{
	background-color:lavender;
	
	
}
.textbox{
	position:absolute;
	right:0px;
	bottom:0px;
	background-color:lavender;
	border:1px solid;
	width:200px;

}
.pos{

}
.relative{
	position:relative;
}
img{
	position:absolute;
	right:400px

}
.paragraph{
	font-family:Times New Roman;
	font-size:20px;
	position:absolute;
	right:50px;
	bottom:150px;
	border:solid
}
.pic{
	position:absolute;
	right:50px;
	top:30px;
}
.paragraph2{
	font-family: Times New Roman;
	border: 4px dashed;
	width:400px
}